<div class="jumbotron">
  
  <div id="black"></div>
  <div style="" class="animated fadeInDown">
    <div class="container">
      <div class="col-md-12">
        
      <h1>Building a functional<br class="visible-lg "/> angular CMS</h1>
      <hr style="width:25%;text-align:left;margin:30px 0; border:2.5px solid #fff;"/>
      </div>
      <div class="col-md-8">
      <h2 class="subtitle">No need to always contact the developer for tiny changes</h2>
      </div> 

    </div>
  </div>
</div>

<div class="container" id="main-wrapper">
  <div class="col-md-12 main-content">
    <h3>Real Time Content Management with Angular 4</h3>
    <p>It is time to forget all of the hussle, useless waiting time for content updates. The only thing to do is to sign in and there you go, the website is ready for changes! . </p>
    
    <div class="white-box">
    <ul>
<li><p class="">Everybody's life is easier, no stress about wrongly updated content!</p></li>
<li><p class="">Super easy to update anything. No need to learn a complicated content management system. Easy to teach for the collegues, employees in mere minutes.</p></li>
<li><p class="">Enjoy the crazy fast application performance combined with easy updating features.Make your life more simple!</p></li>
</ul>
    </div><!-- /. End White Box 0-->
    
  </div>

  <div class="col-md-12">
    <img src="assets/angular_4_cms.gif" alt="Content Management GIF" >
  </div>
</div>
